

<h3>Comfirm</h3>


<%= form_with(model: @blog, url: blogs_path, local: true) do |form| %>
     <%= form.hidden_field :title %>
  <%= form.hidden_field :content %>

  <p>Title:<%= @blog.title %></p>
  <p>Body:<%= @blog.content %></p>
   <p>Body:<%= image_tag(@blog.image.url(:thumb)) %></p>
   <%= hidden_field_tag :"cache[image]",@blog.image.cache_name%>
  <%= form.submit  "submit" %>
<% end %>

<%= form_with(model: @blog, url: new_blog_path, local: true, method: 'get') do |form| %>
  <%= form.hidden_field :title %>
  <%= form.hidden_field :content %>
  <%= form.hidden_field :image %>

  <%= form.submit "Back", name: 'back' %>
<% end %>




